<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conference">
            <h2><span jhiTranslate="omniviewfrontApp.conference.detail.title">Conference</span> {{ conference.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="omniviewfrontApp.conference.name">Name</span></dt>
                <dd>
                    <span>{{ conference.name }}</span>
                </dd>
                <dt><span jhiTranslate="omniviewfrontApp.conference.thumbnail">Thumbnail</span></dt>
                <dd>
                    <div *ngIf="conference.thumbnail">
                        <a (click)="openFile(conference?.thumbnailContentType!, conference?.thumbnail)">
                            <img [src]="'data:' + conference.thumbnailContentType + ';base64,' + conference.thumbnail" style="max-width: 100%;" alt="conference image"/>
                        </a>
                        {{ conference.thumbnailContentType }}, {{ byteSize(conference.thumbnail) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="omniviewfrontApp.conference.startDateTime">Start Date Time</span></dt>
                <dd>
                    <span>{{ conference.startDateTime }}</span>
                </dd>
                <dt><span jhiTranslate="omniviewfrontApp.conference.expectedEndDateTime">Expected End Date Time</span></dt>
                <dd>
                    <span>{{ conference.expectedEndDateTime }}</span>
                </dd>
                <dt><span jhiTranslate="omniviewfrontApp.conference.description">Description</span></dt>
                <dd>
                    <span>{{ conference.description }}</span>
                </dd>
                <dt><span jhiTranslate="omniviewfrontApp.conference.price">Price</span></dt>
                <dd>
                    <span>{{ conference.price }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conference', conference.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
